In [8]:
import numpy as np
import pandas as pd
import re
# pd.set_option('display.height', 1000)
# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

In [287]:
data = pd.read_excel('BD_Technical_Team_Data_Challenge_Data copy.xlsx')

In [236]:
data.dtypes

Item_ID                      int64
Shopper_Entered_Price       object
Instacart_Current_Price    float64
Price_Per_Unit              object
Total_Orders                 int64
Flagged_Count                int64
dtype: object

In [343]:
#Item Ids with more than one entry
data[data['Item_ID'].isin(data['Item_ID'].value_counts()[data['Item_ID'].value_counts()>1].index)]

,Item_ID,Shopper_Entered_Price,Instacart_Current_Price,Price_Per_Unit,Total_Orders,Flagged_Count,Cleaned_Shopper_Entered_Price
3,926397,2.59,1.50,each,7,3,2.59
4,926397,2.69,1.50,each,7,1,2.69
10,962334,1.69,0.98,lb,23,2,1.69
11,962334,2,0.98,lb,23,2,2.00
17,1368891,1.29,0.79,each,15,1,1.29
18,1368891,1.3,0.79,each,15,3,1.30
19,1368891,1.28,0.79,each,15,4,1.28
49,2389320,3.49,1.99,lb,211,6,3.49
50,2389320,3 dollars and 49 cents,1.99,lb,211,1,3.49
51,2389320,349,1.99,lb,211,2,349.00
71,3164058,6.25,3.50,each,128,4,6.25
72,3164058,the price is 625,3.50,each,128,3,625.00
73,3164058,6.2,3.50,each,128,5,6.20
90,3622608,9.99,5.99,each,34,3,9.99
91,3622608,6.99,5.99,each,34,2,6.99
96,4018347,2.29,1.39,each,14,1,2.29
97,4018347,229,1.39,each,14,4,229.00
102,4172760,6.56,3.99,lb,5,2,6.56
103,4172760,10.15,3.99,lb,5,1,10.15
126,5558931,2.49,1.49,lb,22,1,2.49
127,5558931,2.65,1.49,lb,22,1,2.65
128,5558931,3.2,1.49,lb,22,1,3.20
129,5558931,3.15,1.49,lb,22,1,3.15
130,5558931,2.2,1.49,lb,22,1,2.20
138,6430212,4 bucks,2.99,each,3,1,4.00
139,6430212,4.99,2.99,each,3,2,4.99
143,7251867,4.29,2.50,each,25,1,4.29
144,7251867,4 29,2.50,each,25,1,4.29
149,7823079,899,4.87,each,7,1,899.00
150,7823079,8 99,4.87,each,7,1,8.99
151,7823079,8.99,4.87,each,7,1,8.99
167,8784279,4.99,2.99,each,6,2,4.99
168,8784279,2,2.99,each,6,1,2.00
169,8790354,4.19,2.50,each,76,4,4.19
170,8790354,5.19,2.50,each,76,2,5.19
178,9054234,6.25,3.00,lb,53,2,6.25
179,9054234,4.99,3.00,lb,53,4,4.99
180,9054234,3.1,3.00,lb,53,4,3.10
219,90915336,2.99,1.82,each,2,1,2.99
220,90915336,2.8,1.82,each,2,1,2.80
224,91159371,9.99,5.99,each,5,1,9.99
225,91159371,price is 9.99,5.99,each,5,1,9.99
230,107942175,4.99,2.72,each,8,1,4.99
231,107942175,4.5,2.72,each,8,4,4.50
239,108587358,4.99,3.00,each,2,1,4.99
240,108587358,new price is 499,3.00,each,2,1,499.00
263,131847318,"6,99",1.14,each,32,1,6.99
264,131847318,"4,67",1.14,each,32,1,4.67
265,131847318,1.99,1.14,each,32,4,1.99
278,132239592,"1,99",1.19,each,23,2,1.99
279,132239592,1.99,1.19,each,23,2,1.99
291,132535827,3.99,2.09,each,36,5,3.99
292,132535827,2.5,2.09,each,36,1,2.50

In [272]:
data['Item_ID'].value_counts()

5558931      5
9054234      3
1368891      3
131847318    3
7823079      3
3164058      3
2389320      3
108587358    2
4018347      2
7251867      2
926397       2
962334       2
8784279      2
3622608      2
4172760      2
107942175    2
91159371     2
132239592    2
6430212      2
90915336     2
132535827    2
8790354      2
2406033      1
2409606      1
195978879    1
132603048    1
107944614    1
7926912      1
104321871    1
20992986     1
            ..
9551718      1
19917009     1
964449       1
8975709      1
9110133      1
1974618      1
5494617      1
5558103      1
3401046      1
132101973    1
3165012      1
951120       1
4770639      1
2507598      1
8379288      1
90850122     1
2137338      1
3171654      1
5523165      1
4099905      1
131878206    1
3203901      1
9054522      1
8593209      1
1723833      1
6595893      1
90275634     1
3401001      1
6466131      1
131719680    1
Name: Item_ID, Length: 277, dtype: int64

In [289]:
#Dirty Data
data[data['Shopper_Entered_Price'].astype(str).str.contains('[A-Za-z]')]

,Item_ID,Shopper_Entered_Price,Instacart_Current_Price,Price_Per_Unit,Total_Orders,Flagged_Count
23,1712835,99 cents,0.50,each,732,1
50,2389320,3 dollars and 49 cents,1.99,lb,211,1
63,2520639,incorrect price,1.49,lb,339,1
72,3164058,the price is 625,3.50,each,128,3
86,3264804,new price is 4.39,2.59,each,19,2
99,4099905,price is different,1.29,lb,44,3
138,6430212,4 bucks,2.99,each,3,1
199,60790788,new price 429,2.50,each,13,1
225,91159371,price is 9.99,5.99,each,5,1
240,108587358,new price is 499,3.00,each,2,1

In [244]:
def validateString(s):
    letter_flag = False
    number_flag = False
    for i in s:
        if i.isalpha():
            letter_flag = True
        if i.isdigit():
            number_flag = True
    return letter_flag and number_flag

In [297]:
def clean_shopper_price(value):
    if validateString(value)==True:
        prices  = re.findall('(?P<value>[\d]*[.]?[\d]{1,2})\s*(?P<currency>cent|dollar)s?', value)
        final_price = 0.0
        if prices:
            for value, currency in prices:
                partial = float(value)
                if currency == 'cent':
                    final_price += partial / 100
                else:
                    final_price += partial 
        if not prices:
            prices= re.findall(r"[-+]?\d*\.\d+|\d+", value)
            for value in prices:
                final_price= value
    #elif all(i.isalpha() or i==' ' for i in value):
    else:
        final_price=value
        
    return final_price

In [291]:
data['Cleaned_Shopper_Entered_Price'] = data['Shopper_Entered_Price'].astype(str).apply(clean_shopper_price)
data['Cleaned_Shopper_Entered_Price'] = (data['Cleaned_Shopper_Entered_Price'].replace(',','.', regex=True)
                        .replace(' ','.', regex=True)
                        .astype(float))

In [318]:
data.loc[data.Cleaned_Shopper_Entered_Price == 'incorrect price', 'Cleaned_Shopper_Entered_Price'] = 1.49
data.loc[data.Cleaned_Shopper_Entered_Price == 'price is different', 'Cleaned_Shopper_Entered_Price'] = 1.29

In [323]:
data.dtypes

Item_ID                            int64
Shopper_Entered_Price             object
Instacart_Current_Price          float64
Price_Per_Unit                    object
Total_Orders                       int64
Flagged_Count                      int64
Cleaned_Shopper_Entered_Price    float64
dtype: object

In [329]:
wm = lambda x: np.average(x, weights=data.loc[x.index, "Flagged_Count"])
fun = {'Flagged_Count': ['sum'],'Total_Orders': ['sum'] , 'Instacart_Current_Price': ['mean'] ,\
    'Cleaned_Shopper_Entered_Price': {'weighted_mean' : wm}}

# Groupby aggregation:
data.groupby(["Item_ID"]).agg(fun)
#, "Flagged_Count", "Total_Orders", "Cleaned_Shopper_Entered_Price"

/anaconda3/lib/python3.7/site-packages/pandas/core/groupby/groupby.py:4656: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

,Flagged_Count,Total_Orders,Instacart_Current_Price,Cleaned_Shopper_Entered_Price
,sum,sum,mean,weighted_mean
Item_ID,,,,
878229,1,14,1.50,2.590000
897786,1,29,1.50,2.590000
907794,6,44,7.98,13.790000
926397,4,14,1.50,2.615000
951120,1,2,2.98,5.790000
958545,2,20,2.59,360.000000
959931,3,18,1.99,3.590000
960372,3,146,0.25,0.500000
960615,1,12,3.00,5.190000
962334,4,46,0.98,1.845000
964170,3,25,0.78,1.290000
964449,10,121,0.89,1.490000
971136,25,234,2.39,3.990000
971280,2,19,3.49,5.790000
972729,3,29,1.18,1.950000
1368891,8,45,0.79,1.288750
1444248,1,12,1.00,1.850000
1542807,6,427,3.25,5.390000
1710198,26,1024,2.75,4.950000
1712835,1,732,0.50,0.990000
1723833,1,129,1.95,3.750000
1723959,4,341,1.50,2.500000
1974618,1,21,2.48,3.990000
1975959,73,1878,2.50,4.990000
1988280,6,730,1.25,2.500000
1988541,3,256,1.00,2.000000
1989063,2,214,0.95,1.690000
1989585,2,237,2.00,3.490000
2007495,1,64,1.29,2.490000
2019240,3,12,4.49,7.990000
...,...,...,...,...
132224454,1,18,2.29,3.690000
132224697,1,1,2.97,5.030000
132239592,4,46,1.19,1.990000
132275826,1,31,2.79,4.990000
132401259,3,136,3.99,6.990000
132407028,3,115,3.99,6.990000
132415776,2,33,2.00,3.990000
132427809,1,21,1.99,3.490000
132461874,1,21,2.90,4.990000
132467310,7,170,2.79,4.490000
132470424,3,90,2.79,4.490000
132497496,1,7,5.99,10.990000
132501069,2,9,5.99,10.990000
132525018,1,2,4.99,8.490000
132535827,6,72,2.09,3.741667
132538905,1,21,2.09,3.990000
132549534,1,23,1.99,3.990000
132555762,3,62,2.99,4.990000
132603048,1,2,2.27,4.190000
132618438,1,2,3.63,5.990000
132628653,2,28,2.98,4.990000
132630579,3,33,2.98,4.990000
167868045,1,21,1.69,2.790000
189052434,2,7,2.99,4.790000
189309078,2,6,2.39,3.990000
189336114,6,13,1.10,1.790000
190276605,2,3,1.82,3.490000
194901642,1,6,2.99,4.990000
194937525,3,1,5.49,8.990000
195978879,3,42,0.78,1.290000

In [330]:
data2= data.groupby(["Item_ID"]).agg(f)
level0 = data2.columns.get_level_values(0)
data2.columns = level0
data2.head(500)
final=data2.reset_index().head(600)

/anaconda3/lib/python3.7/site-packages/pandas/core/groupby/groupby.py:4656: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [331]:
final

,Item_ID,Flagged_Count,Total_Orders,Instacart_Current_Price,Cleaned_Shopper_Entered_Price
0,878229,1,14,1.50,2.590000
1,897786,1,29,1.50,2.590000
2,907794,6,44,7.98,13.790000
3,926397,4,14,1.50,2.615000
4,951120,1,2,2.98,5.790000
5,958545,2,20,2.59,360.000000
6,959931,3,18,1.99,3.590000
7,960372,3,146,0.25,0.500000
8,960615,1,12,3.00,5.190000
9,962334,4,46,0.98,1.845000
10,964170,3,25,0.78,1.290000
11,964449,10,121,0.89,1.490000
12,971136,25,234,2.39,3.990000
13,971280,2,19,3.49,5.790000
14,972729,3,29,1.18,1.950000
15,1368891,8,45,0.79,1.288750
16,1444248,1,12,1.00,1.850000
17,1542807,6,427,3.25,5.390000
18,1710198,26,1024,2.75,4.950000
19,1712835,1,732,0.50,0.990000
20,1723833,1,129,1.95,3.750000
21,1723959,4,341,1.50,2.500000
22,1974618,1,21,2.48,3.990000
23,1975959,73,1878,2.50,4.990000
24,1988280,6,730,1.25,2.500000
25,1988541,3,256,1.00,2.000000
26,1989063,2,214,0.95,1.690000
27,1989585,2,237,2.00,3.490000
28,2007495,1,64,1.29,2.490000
29,2019240,3,12,4.49,7.990000
...,...,...,...,...,...
247,132224454,1,18,2.29,3.690000
248,132224697,1,1,2.97,5.030000
249,132239592,4,46,1.19,1.990000
250,132275826,1,31,2.79,4.990000
251,132401259,3,136,3.99,6.990000
252,132407028,3,115,3.99,6.990000
253,132415776,2,33,2.00,3.990000
254,132427809,1,21,1.99,3.490000
255,132461874,1,21,2.90,4.990000
256,132467310,7,170,2.79,4.490000
257,132470424,3,90,2.79,4.490000
258,132497496,1,7,5.99,10.990000
259,132501069,2,9,5.99,10.990000
260,132525018,1,2,4.99,8.490000
261,132535827,6,72,2.09,3.741667
262,132538905,1,21,2.09,3.990000
263,132549534,1,23,1.99,3.990000
264,132555762,3,62,2.99,4.990000
265,132603048,1,2,2.27,4.190000
266,132618438,1,2,3.63,5.990000
267,132628653,2,28,2.98,4.990000
268,132630579,3,33,2.98,4.990000
269,167868045,1,21,1.69,2.790000
270,189052434,2,7,2.99,4.790000
271,189309078,2,6,2.39,3.990000
272,189336114,6,13,1.10,1.790000
273,190276605,2,3,1.82,3.490000
274,194901642,1,6,2.99,4.990000
275,194937525,3,1,5.49,8.990000
276,195978879,3,42,0.78,1.290000

In [340]:
def updated_price(final):
    updated_price= final['Cleaned_Shopper_Entered_Price']
    same_price= final['Instacart_Current_Price']
    if final['Flagged_Count']>1 and (final['Flagged_Count'] >= round(final['Total_Orders'] *.10)):
        return updated_price
    else:
        return same_price

In [341]:
final['New_Updated_price'] = final.apply(updated_price, axis=1)

In [342]:
final[50:]

,Item_ID,Flagged_Count,Total_Orders,Instacart_Current_Price,Cleaned_Shopper_Entered_Price,New_Updated_price
50,2450385,2,8,10.99,19.990000,19.99
51,2475126,1,25,4.99,7.990000,4.99
52,2488428,1,9,3.99,6.990000,3.99
53,2488437,1,8,3.99,6.990000,3.99
54,2491119,4,29,8.49,15.990000,15.99
55,2506140,1,4,5.99,9.990000,5.99
56,2507598,4,20,3.49,5.990000,5.99
57,2520639,1,339,1.49,1.490000,1.49
58,2986920,1,1,4.99,8.490000,4.99
59,2986938,1,3,4.99,8.490000,4.99
60,2987100,1,1,4.99,7.990000,4.99
61,3003966,1,2,5.19,8.490000,5.19
62,3061008,3,314,1.49,2.490000,1.49
63,3129822,6,283,3.29,5.490000,3.29
64,3148758,1,15,2.99,5.490000,2.99
65,3164058,12,384,3.50,160.916667,3.50
66,3165012,10,684,1.00,1.750000,1.00
67,3165885,1,510,0.85,1.490000,0.85
68,3167352,3,54,3.25,5.500000,3.25
69,3170844,14,299,2.09,3.990000,2.09
70,3171204,1,4,5.00,8.250000,5.00
71,3171654,4,23,12.49,20.990000,20.99
72,3202956,2,153,0.89,1.690000,0.89
73,3203901,1,4,7.99,13.990000,7.99
74,3215340,1,58,1.19,1.990000,1.19
75,3221514,1,4,1.79,2.990000,1.79
76,3251817,2,23,6.99,11.990000,11.99
77,3260169,1,39,12.49,20.990000,12.49
78,3264804,2,19,2.59,4.390000,4.39
79,3401001,4,24,1.49,2.490000,2.49
...,...,...,...,...,...,...
247,132224454,1,18,2.29,3.690000,2.29
248,132224697,1,1,2.97,5.030000,2.97
249,132239592,4,46,1.19,1.990000,1.19
250,132275826,1,31,2.79,4.990000,2.79
251,132401259,3,136,3.99,6.990000,3.99
252,132407028,3,115,3.99,6.990000,3.99
253,132415776,2,33,2.00,3.990000,2.00
254,132427809,1,21,1.99,3.490000,1.99
255,132461874,1,21,2.90,4.990000,2.90
256,132467310,7,170,2.79,4.490000,2.79
257,132470424,3,90,2.79,4.490000,2.79
258,132497496,1,7,5.99,10.990000,5.99
259,132501069,2,9,5.99,10.990000,10.99
260,132525018,1,2,4.99,8.490000,4.99
261,132535827,6,72,2.09,3.741667,2.09
262,132538905,1,21,2.09,3.990000,2.09
263,132549534,1,23,1.99,3.990000,1.99
264,132555762,3,62,2.99,4.990000,2.99
265,132603048,1,2,2.27,4.190000,2.27
266,132618438,1,2,3.63,5.990000,3.63
267,132628653,2,28,2.98,4.990000,2.98
268,132630579,3,33,2.98,4.990000,4.99
269,167868045,1,21,1.69,2.790000,1.69
270,189052434,2,7,2.99,4.790000,4.79
271,189309078,2,6,2.39,3.990000,3.99
272,189336114,6,13,1.10,1.790000,1.79
273,190276605,2,3,1.82,3.490000,3.49
274,194901642,1,6,2.99,4.990000,2.99
275,194937525,3,1,5.49,8.990000,8.99
276,195978879,3,42,0.78,1.290000,0.78